<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529490845483-suaabgijfs2qds4goi9p4gf456nk6143.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529490845483-suaabgijfs2qds4goi9p4gf456nk6143</string>
	<key>API_KEY</key>
	<string>AIzaSyCZt8x7FmER0paLMEPlyUFHv9rB1L65wzU</string>
	<key>GCM_SENDER_ID</key>
	<string>529490845483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uni.Twitter-clone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-676e4</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-676e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529490845483:ios:a3bf3844cc4d4b8e7eaf6e</string>
</dict>
</plist>